*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteneur{
    background-color: rgb(217, 243, 243);
    height: 100vh;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
/* 
Unités: em, rem, %, px, cm
*/
.conteneur #profil{
    width: 33.33%;
    height: 100%;
    border-width: 0.5px;
    border-color: red;
    background-color: rgb(245, 224, 156);
}

.conteneur #profil .image{
    width: 150px;
    height: 150px;
    border-width: 2px;
    border-color: orange;
    border-style: solid;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 25px; */
    margin-bottom: 25px;
    background-image: url("../images/1.png");
    /* background-position: top; */
    background-size: contain;
    

}

.contact, .langues, .hobby{
    /* padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px; */
    padding: 12px;

}

.titre_section_profil{
    border-style: solid;
    border-width: 1px;
    border-color: orange ;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    padding: 6px;
    margin-bottom: 15px;
}

.profil_section_list{
    list-style: inside;
}
.cercle{
    width: 150px;       /* Taille du cercle (modifiable) */
  height: 150px;
  border-radius: 50%; /* Rend l’image parfaitement ronde */
  object-fit: cover;  /* Ajuste l’image dans le cercle sans déformation */
}
.titre_section_description{
    padding: 10px;
}