
body {
    background-color: lightgray;
}


.italic {
    font-style: italic;
}


#gras {
    font-weight: bold;
}


.item-highlight {
    color: blue;
}


[class^="a"] {
    background-color: yellow;
}


[class$="date"] {
    background-color: green;
}