.fond {

    background-image: url(./fonnd8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.esp {
    margin-bottom: 24px;
    color: #ccc;
}

.decale {
    margin-top: 7px;
    border-radius: 12px;
    border: 0;
    color: aliceblue;
    margin-right: 6px;
}

.present {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.elmenu {
    padding: 12px;
}

.imageill {
    width: 350px;
    border-radius: 10px 60px 30px;
}

.cont {
    display: flex;
    padding: 24px 42px;
    justify-content: space-between;
    align-items: center
}

.continfo {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 12px;
}

.phrase_principale {
    font-size: 45px;
    font-weight: 300;
    font-style: normal;
    color: #ccc;
}

.contenant_button {
    display: flex;
    align-items: center;
    gap: 24px;
}

.button {
    padding: 12px 24px;

    color: aliceblue;
    border: 0px;
    border-radius: 12px;

}

.cv {
    background-color: rgb(79, 143, 95);
}

.rea {
    background-color: rgb(14, 54, 19);
}

.noir {
    color: rgb(236, 236, 236);
}

.violet {
    color: rgb(11, 196, 110);
}

.nom {
    color: rgb(134, 88, 2);
    padding: 24px;
}

/*----------------- SECTION 2 -------------------------------------------------------------*/
/*----------------- SECTION 2 -------------------------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html,
body {
    height: 100%
}

body {

    line-height: 1.5;
    color: #222;
    background: #fff;
}

/* container */
.inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 56px 20px;
}

/* ABOUT (dark) */
.about {
    background: #222;
    /* fond foncé */
    color: #eee;
    padding-top: 48px;
    padding-bottom: 40px;
    position: relative;
}

.about-title {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 18px;
}

.about-text {
    max-width: 820px;
    margin: 0 auto 36px;
    color: #cfcfcf;
    font-size: 15px;
    text-align: center;
}

/* debute maintenant */
.stats {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-top: 8px;
}

.stat {
    flex: 1 1 0;
    text-align: center;
    padding: 12px 10px 60px;
    /* espace bas pour demi-cercle */
    position: relative;
}

.stat .num {
    font-size: 56px;
    font-weight: 800;
    color: #f3bcbc;
    /* rose  */
    margin-bottom: 10px;
}

.stat .label {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

/* centre: demi-cercle violet placé en bas */
.stat.center .semi {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -95px;
    /* demi-cercle dépasse vers la section suivante */
    width: 260px;
    margin-top: 50px;
    height: 130px;
    background: #6b46c1;
    /* violet */
    border-radius: 130px 130px 0 0;
    z-index: 0;
    opacity: 0.98;
}

/*----------------- SECTION 3 -------------------------------------------------------------*/
/*----------------- SECTION 3 -------------------------------------------------------------*/

/* Reset minimal */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html,
body {
    height: 100%
}

body {
    font-family: 'Poppins', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    line-height: 1.5;
    color: #222;
    background: #fff;
}

/* container */
.inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 56px 20px;
}

/* ABOUT (dark) */
.about {
    background: #222;
    /* fond foncé */
    color: #eee;
    padding-top: 48px;
    padding-bottom: 40px;
    position: relative;
}

.about-title {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 18px;
}

.about-text {
    max-width: 820px;
    margin: 0 auto 36px;
    color: #cfcfcf;
    font-size: 15px;
    text-align: center;
}

/* stats row */
.stats {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-top: 8px;
}

.stat {
    flex: 1 1 0;
    text-align: center;
    padding: 12px 10px 60px;
    /* espace bas pour demi-cercle */
    position: relative;
}

.stat .num {
    font-size: 56px;
    font-weight: 800;
    color: #f3bcbc;
    /* rose pâle */
    margin-bottom: 10px;
}

.stat .label {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

/* centre: demi-cercle violet placé en bas */
.stat.center .semi {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -95px;
    /* demi-cercle dépasse vers la section suivante */
    width: 260px;
    margin-top: 50px;
    height: 130px;
    background: #6b46c1;
    /* violet */
    border-radius: 130px 130px 0 0;
    z-index: 0;
    opacity: 0.98;
}

/* --------------------- SECTION TROIS SERVICES (blanc) ----------------------------------------------------- */


.services {
    background: #0b5f4a;
    color: #ffffff;
    
}

.services-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 14px;
}

.services-text {
    max-width: 820px;
    margin: 0 auto 36px;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}

/* grid 4 colonnes */
.grid {
    display: flex;
    gap: 28px;
    margin-top: 12px;
    align-items: stretch;
    justify-content: space-between;
}

/* card */
.card {
    flex: 1 1 0;
    text-align: left;
    padding: 18px 8px;
}

/* icon */
.icon {
    width: 44px;
    height: 44px;
    display: block;
    margin-bottom: 16px;
    color: #6b46c1;
    /* violet icônes */
}

/* titles & text inside cards */
.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #ffffff;
}

.card p {
    font-size: 14px;
    color: #ffffff;
    line-height: 1.5;
}

/* responsive */
@media (max-width:880px) {
    .stats {
        flex-direction: column;
        align-items: center;
    }

    .stat {
        padding-bottom: 40px
    }

    .stat.center .semi {
        bottom: -45px;
        width: 220px;
        height: 110px;
        border-radius: 110px 110px 0 0
    }

    .grid {
        flex-direction: column;
        gap: 24px
    }

    .card {
        text-align: center
    }

    .card p {
        margin: 0 auto;
        max-width: 320px
    }

    .card h3 {
        text-align: center
    }

    .icon {
        margin: 0 auto 12px
    }
}

@media (max-width:420px) {
    .about-title {
        font-size: 28px
    }

    .services-title {
        font-size: 26px
    }

    .stat .num {
        font-size: 44px
    }
}

/*------------------------------------------- SECTION QUATRE -------------------------------------------------------------*/
/*------------------------------------------- SECTION QUATRE -------------------------------------------------------------*/

.sectquatre {
    background-color: #06362a;
    border-radius: 12px;
    padding: 12px;
    color: #ffffff;
    margin-bottom: 30px;
}



.portfolio {
    width: 90%;
    max-width: 1100px;
    margin: 60px auto;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 16px;
    color: #ffffff;
    max-width: 700px;
    margin: 0 auto 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.project {
    background: white;
    padding: 15px;
    border-radius: 12px;
    position: relative;
    transition: transform 0.2s;
}

.project:hover {
    transform: translateY(-5px);
}

.project img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.info {
    text-align: left;
    margin-top: 15px;
}

.info h3 {
    font-size: 18px;
    margin: 0;
}

.info p {
    font-size: 14px;
    color: #666;
    margin-top: 3px;
}

.arrow {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #7b4bde;
    color: white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px;
}

/* Responsive */
@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

/*------------------------------- SECTION CINQ -------------------------------------------------------------*/
/*------------------------------- SECTION CINQ -------------------------------------------------------------*/

.skills {
    width: 90%;
    max-width: 900px;
    margin: 70px auto;
    text-align: center;
    font-family: Arial, sans-serif;

}

.subtitle {
    max-width: 650px;
    margin: 0 auto 40px;
    color: #ecdfdf;
    font-size: 15px;
}

.skills h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.skill {
    display: grid;
    grid-template-columns: 1fr 100px;
    align-items: center;
    margin-bottom: 25px;
}

.label {
    font-weight: bold;
    text-align: left;
   text-align: center;
}

.value {
    text-align: right;
    font-weight: bold;
    
}

.bar {
    grid-column: span 2;
    height: 4px;
    background: #e9eee8;
    margin: 10px 0;
    position: relative;
}

.bar div {
    height: 100%;
    background: #000;
}

@media (max-width: 700px) {
    .skills-grid {
        grid-template-columns: 1fr;
    }
}

/*------------------------------- SECTION six -------------------------------------------------------------*/
/*------------------------------- SECTION six -------------------------------------------------------------*/

.testimonials {
    background: #e9ddf7;
    padding: 80px 20px;
    text-align: center;
    position: relative;
    font-family: Arial, sans-serif;
}

.testimonials h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.testimonials .text {
    max-width: 700px;
    margin: 0 auto 30px;
    font-size: 16px;
    color: #333;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.author {
    font-weight: bold;
    font-size: 15px;
}

.author span {
    font-weight: normal;
    color: #555;
}

/* Arrows */
.arrow {
    position: absolute;
    top: 50%;
    font-size: 32px;
    cursor: pointer;
    transform: translateY(-50%);
    color: #222;
    user-select: none;
}

.arrow.left {
    left: 25px;
}

.arrow.right {
    right: 25px;
}

@media (max-width: 600px) {
    .arrow {
        font-size: 28px;
    }
}

/*------------------------------- SECTION sept -------------------------------------------------------------*/
/*------------------------------- SECTION sept -------------------------------------------------------------*/


.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px;
    gap: 40px;
    position: relative;
    font-family: Arial, sans-serif;
}

/* Cercle décoratif */
.circle {
    position: absolute;
    left: -120px;
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
    height: 250px;
    background: #e099d4;
    border-radius: 50%;
    z-index: -1;
}

/* Texte gauche */
.left h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.intro {
    color: #444;
    margin-bottom: 25px;
    max-width: 350px;
}

.info p {
    margin: 8px 0;
    font-size: 15px;
}

.socials a {
    font-size: 20px;
    margin-right: 15px;
    text-decoration: none;
    color: #000;
}

/* Formulaire */
.right {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.right input,
.right textarea {
    border: 2px solid #000;
    padding: 12px;
    font-size: 15px;
    width: 100%;
}

.right textarea {
    height: 150px;
    resize: none;
}

.right button {
    background: #000;
    color: #fff;
    padding: 12px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
}

/* Responsive */
@media (max-width: 900px) {
    .contact {
        grid-template-columns: 1fr;
        padding: 40px;
    }

    .circle {
        display: none;
    }
}


/*------------------------------- derniere partie -------------------------------------------------------------*/
/*------------------------------- derniere partie -------------------------------------------------------------*/

.footer {
    background: #1a1a1a;
    padding: 40px 20px;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

.mesure {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.mesure a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.logo {
    font-size: 18px;
    font-weight: bold;
}

.follow {
    margin-top: 20px;
    color: #ccc;
    font-size: 14px;
}

.socials {
    margin-top: 15px;
}

.socials a {
    font-size: 22px;
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

/* Responsive */
@media (max-width: 600px) {
    .mesure {
        gap: 20px;
    }
}