.container {
    background-color: lightgray;
}

.box {
    border: 1px solid rgb(17, 5, 5);
    background-color: white;
}

.box-highlight {
    color: rgb(26, 26, 235);
}

.list-item {
    color: rgb(11, 150, 11);
}

div {
    margin: 10px;
}

p {
    color: rgb(255, 9, 9);
}