body {
    font-family: Arial, sans-serif;
    background: #530f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px 60px 30px;
    width: 350px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3478f6;
    color: white;
    transition: 0.3s;
}

button:hover {
    background-color: #245fbd;
}